<div id="about">
	<h5 class="display-1 text-xs-center h-title-custom">O mnie</h5>
	<div class="row no-space">
		<div class="col-xl-4 col-lg-4 col-md-4 no-space">
			<img class="img-fluid img-foto about-img m-x-auto" src="{{ asset('bundles/portfolio/img/foto.jpg') }}" alt="my photo">
			<ul class="social-cv text-xs-center no-space">
				<li>
					<a href="https://www.facebook.com/ka.wipek" target="_blank"><i class="mdi mdi-facebook-box"></i></a>
				</li>
				<li>
					<a href="https://www.instagram.com/_wipek_/" target="_blank"><i class="mdi mdi-instagram"></i></a>
				</li>
				<li>
					<a href="mailto:wipekxxx@gmail.com" target="_blank"><i class="mdi mdi-gmail"></i></a>
				</li>
				<li>
					<a href="https://github.com/WiPeK/" target="_blank"><i class="mdi mdi-github-box"></i></a>
				</li>
			</ul>
		</div>
		<div class="col-xl-7 col-lg-7 col-md-8 no-space">
			<div class="about-text">
				<h4>Witam, nazywam się Krzysztof Adamczyk.</h4>
				<p>
				Mam 20 lat. W tym roku z wyróżnieniem skończyłem technikum o profilu technik informatyk a następnie planuję iść na studia w podobnym kierunku. 
				Swoją przygodę z tworzeniem stron intenetowych zacząłem 3 lata temu. 
				Na początku zaczynałem od edycji szablonów, potem przyszedł czas na własne proste szablony. 
				Jakiś czas potem odkryłem "Bootstrapa" i stał mi się on bardzo użyteczny. 
				Jednak frontend nie wystarczał do budowy bardziej zaawansowanych aplikacji. 
				I tak to musiałem trafić na PHP. W "czystym" PHP nigdy nie budowałem aplikacji lecz odrazu "rzuciłem się" na framework - Codeigniter. 
				Codeigniter zaoferował mi pracę w rozwiązaniu MVC bez którego aktualnie nie wyobrażam sobie tworzenia aplikacji internetowych. 
				Ostatnio odkryłem framework JavaScript - AngularJS, gdyż chciałem tworzyć strony bardziej przyjazne użytkownikowi. Zawsze lubiłem strony na których możemy się przemieszczać bez przeładowania co oferuje mi Angular. Bardzo nie lubię tworzyć grafiki i layoutów, więc cały wygląd stron tworzę praktycznie w zupełności za pomocą CSS3. 
				Chciałbym także wkrótce zacząć naukę C# oraz frameworka PHP Symfony 2.
				</p>
				<h5 class="motto-custom">"Design strony www to nie tylko to, jak ona wygląda i jak się ją odczuwa. Design jest tym jak ona działa." - Steve Jobs</h5>
			</div>
		</div>
	</div>
	<div class="row no-space">
		<div class="about-technologies m-x-auto text-xs-center">
			<h3>Technologie które poznałem:</h3>
			<h4>
				<span class="tag tag-default no-border-radius animated fadeIn">HTML</span>
				<span class="tag tag-default no-border-radius">CSS/LESS/SASS</span>
				<span class="tag tag-default no-border-radius">PHP</span>
				<span class="tag tag-default no-border-radius">Codeigniter</span>
				<span class="tag tag-default no-border-radius">Twitter Bootstrap 3/4</span>
				<span class="tag tag-default no-border-radius">Javascript / jQuery</span>
				<span class="tag tag-default no-border-radius">Sql Query</span>
				<span class="tag tag-default no-border-radius">C</span>
				<span class="tag tag-default no-border-radius">C++</span>
			</h4>
		</div>
	</div>
	<div class="row no-space">
		<div class="about-technologies m-x-auto text-xs-center">
			<h3>Technologie które chcę poznać:</h3>
			<h4>
				<span class="tag tag-default no-border-radius">Symfony Framework 3</span>
				<span class="tag tag-default no-border-radius">PHP 7</span>
				<span class="tag tag-default no-border-radius">C#</span>
				<span class="tag tag-default no-border-radius">ASP.NET MVC</span>
				<span class="tag tag-default no-border-radius">Python</span>
			</h4>
		</div>
	</div>
	<div class="space100"></div>
</div>