<div id="cv">
	<h5 class="display-1 text-xs-center">CV</h5>
	<div class="row no-space">
		<div class="col-xl-5 col-lg-5 no-space">
			<img class="img-fluid img-foto" src="{{ asset('bundles/portfolio/img/foto.jpg') }}" alt="my photo">
			<ul class="social-cv d-inline-block">
				<li>
					<a href="https://www.facebook.com/ka.wipek"><i class="mdi mdi-facebook-box"></i></a>
				</li>
				<li>
					<a href="https://www.instagram.com/_wipek_/"><i class="mdi mdi-instagram"></i></a>
				</li>
				<li>
					<a href="mailto:wipekxxx@gmail.com"><i class="mdi mdi-gmail"></i></a>
				</li>
				<li>
					<a href="https://github.com/WiPeK/"><i class="mdi mdi-github-box"></i></a>
				</li>
			</ul>
		</div>
		<div class="col-xl-7 col-lg-7 no-space"></div>
	</div>


	<div class="space200"></div>
	<div class="space200"></div>
	<div class="space200"></div>
	<div class="space200"></div>
	<div class="space200"></div>
</div>