<div id="modal-rwd" class="modal fade in modal-lg" tabindex="-1" role="dialog" aria-labelledby="myModalrwd" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body project-modal">
        <div class="row">
        	<div class="col-lg-7 bar-text-modal">
        		<h2>Strony responsywne</h2>
        		<p>Strony dostosowujące się do rozdzielczości każdego urządzenia, dzięki czemu możesz wygodnie przeglądać strony na swoim smartfonie czy też tablecie. Responsywność oparta o Front-end Framework - Twitter Bootstrap 3/4 oraz plugin Material Design</p>
        	</div>
        	<div class="col-lg-5">
        		<img class="img-fluid img-modal" src="{{ asset('bundles/portfolio/img/rflatalpha.png') }}" alt="RWD">
        	</div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-close" data-dismiss="modal">Zamknij</button>
      </div>
    </div>
  </div>
</div>

<div id="modal-cms" class="modal fade in modal-lg" tabindex="-1" role="dialog" aria-labelledby="myModalcms" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body project-modal">
        <div class="row">
        	<div class="col-lg-7 bar-text-modal">
        		<h2>Systemy zarządzania treścią</h2>
        		<p>Panele dzięki którym bez jakiej kolwiek znajomości html czy też css możesz zarządzać swoją stroną poprzez specjalnie przygotowane zaplacza. Każdy system tworzony jest pod konkretnego klienta i jego wymogi.</p>
        	</div>
        	<div class="col-lg-5">
        		<img class="img-fluid img-modal" src="{{ asset('bundles/portfolio/img/cms.png') }}" alt="RWD">
        	</div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-close" data-dismiss="modal">Zamknij</button>
      </div>
    </div>
  </div>
</div>

<div id="modal-service" class="modal fade in modal-lg" tabindex="-1" role="dialog" aria-labelledby="myModalcms" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body project-modal">
        <div class="row">
          <div class="col-lg-7 bar-text-modal">
            <h2>Serwis komputerowy</h2>
            <p>Panele dzięki którym bez jakiej kolwiek znajomości html czy też css możesz zarządzać swoją stroną poprzez specjalnie przygotowane zaplacza. Każdy system tworzony jest pod konkretnego klienta i jego wymogi.</p>
          </div>
          <div class="col-lg-5">
            <img class="img-fluid img-modal" src="{{ asset('bundles/portfolio/img/servicealpha.png') }}" alt="RWD">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-close" data-dismiss="modal">Zamknij</button>
      </div>
    </div>
  </div>
</div>