<div id="oferta">	
	<div class="container oferta-custom">
		<div class="row top">
			<h1 class="display-2">Oferta</h1>
			  <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
		</div>
		<div class="row panels-custom">
			<div class="col-lg-4 col-md-4 col-sm-6">
				<div class="card">
				  <h3 class="card-header">Serwis komputerowy</h3>
				  <img class="card-img-top w-100" src="{{ asset('bundles/portfolio/img/service.png') }}" alt="RWD">
				</div>
				<button type="button" class="btn btn-raised btn-info w-100" data-toggle="modal" data-target="#modal-service">Zobacz</button>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-6">
				<div class="card">
				  <h3 class="card-header">Systemy CMS</h3>
				  <img class="card-img-top w-100" src="{{ asset('bundles/portfolio/img/cmsw.png') }}" alt="cms">
				</div>
				<button type="button" class="btn btn-raised btn-info w-100" data-toggle="modal" data-target="#modal-cms">Zobacz</button>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12">
				<div class="card">
				  <h3 class="card-header">Strony responsywne</h3>
				  <img class="card-img-top w-100" src="{{ asset('bundles/portfolio/img/rflat.png') }}" alt="RWD">
				</div>
				<button type="button" class="btn btn-raised btn-info w-100" data-toggle="modal" data-target="#modal-rwd">Zobacz</button>
			</div>
		</div>
	</div>
</div>