{% if offerData is not empty %}
	<div id="oferta">
		<div class="container oferta-custom no-space">
			<div class="row top">
				<h1 class="display-2"></h1>
			</div>
		</div>
			<div class="row no-space panels-custom">
				{% for offer in offerData %}
					<div class="col-lg-4 col-md-4 col-sm-6 no-space offer-bar">
						<img class="img-off w-100" src="{{ asset(offer.offerPhotoUrl) }}" alt="RWD">
						<h3 class="obh text-xs-center">{{ offer.offerName }}</h3>
						<div class="offer-desc text-xs-center">
							<p>{{ offer.offerDescribe }}</p>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endif %}