<meta charset="UTF-8">
<!--IE Compatibility modes-->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!--Mobile first-->
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title>{% spaceless %}Metis {% block pageTitle %}WiPeK{% endblock %}{% endspaceless %}</title>
<meta name="description" content="{{ meta_description }} Free Admin Template Based On Twitter Bootstrap 3.x">
<meta name="author" content="{{ meta_author }}">
<meta name="msapplication-TileColor" content="#5bc0de" />
<meta name="msapplication-TileImage" content="{{ asset('bundles/portfolio/admin/img/metis-tile.png') }}" />
